*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.home{
    min-height: 110vh;
    background-image: url(../image/background.png);
    
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.first-nav{
    width: 60%;
}

.second-nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.second-nav-element a{
    display: inline;
    padding: .8rem .5rem;
}



  
.dropdown {
    float: right;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #24353E;
    border-radius: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #24353E;
    border-radius: 16px;
    color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #3C5460;
    border-radius: 16px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* home page part */


.weather-display-container{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.ultimate-companion{
    padding: 1rem;
    text-align: center;
}


.special-color{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(1,198,246,1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.location-display{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.location-display-image{
    position: relative;
    width: 20%;
}

.location-display-image div{
    width: 80%;
    margin: auto;
}

.location-display-image svg{
    transform: translateY(-10%);  
}



.overall-weather{
    width: 20%;
    position: relative;
}



.overall-weather-details , .location-name{
    height: 80%;
}


.location{
    width: 50%;
    position: relative;
}

.location-name{
    transform: translateY(30%);
}

.weather-forecast{
    width: 100%;
}

.next-4days-forecast{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3;
    margin-top: 2rem;
}


.class{
    width: 80%;
    margin: auto;
    color: white;
    background: #24353E;
    padding: 1rem;
    border-radius: 16px;
    line-height: 2 !important;
}

.class div{
    width: 60%;
    margin: auto;
}



/* services provided by us */

.services-provided-section{
    width: 100%;
    padding: 3rem;
    background-image: url(../image/background.png);
    background-image: cover;
}

.upper-div{
    width: 90%;
    margin: auto;
    padding: 2rem 0 2rem 0;
}

.upper-div h1{
    text-align: center;

}

.services-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4rem 0 4rem 0;
}

.services-col{
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    background: #3C5460;
    border-radius: 16px;
    line-height: 10;
    height: 100%;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
.services-col div img , .services-col div a{
    width: 80%;
    display: block;
    margin: auto;
}

