{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="{% static 'style/whatsapp.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head> 
<body class="bg-gray-100">
    <section class="top-whatsapp">
        <div class="center-div">
            <div class="left">
                <div>
                    <h1 class="text-3xl my-7 special-color-r">Try our Whatsapp Bot</h1>
                    <h2 class="text-l">Live with no fear while SkySense is here</h2>
                    <h2 class="text-l">Our Bot Will Provide Your Daily Weather Details</h2>
                    <h1 class="text-3xl align-center my-7 special-color-r">Features</h1>
                    <table class="feature-table">
                        <tr>
                            <td><img src="{% static 'image/checked.png' %}" alt=""></td>
                            <th style="width: 70%;">Daily Updates</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'image/checked.png' %}"></td>
                            <th>IMD weather data</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'image/checked.png' %}" alt=""></td>
                            <th>Help's You Feel Safe</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'image/checked.png' %}" alt=""></td>
                            <th>Accurate weather information</th>
                        </tr>
                        <tr>
                            <td><img src="{% static 'image/checked.png' %}" alt=""></td>
                            <th>Automatic Informations</th>
                        </tr>
                    </table>
                    
                </div>
                
            </div>
            <div class="right">
                <div>
                    <img src="{% static 'image/whatsapp_demo.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    

    <!-- the redirect page -->

    <section class="steps-for-whatsapp">
        <div class="steps-width-div">
            <div class="steps-row">
                <div class="text-center ">
                    <h1><span class="special-color-r text-4xl">Terms and Conditions</span> </h1>
                </div>

                <div class="w-step-2">
                    <h1 class="py-3 text-2xl">We use whatsapp services for sending and updating you with the most recent weather updates</h1>
                    <h2 class="py-3 text-2xl">To continue with this services click the below button and follow the steps given below :</h2>
                    <div class="ul-li-step">
                        <div class="ul-li-con">
                            <ul>
                                <li><span>Click the button below</span> it takes you to a whatsapp permissions website</li>
                                <li><span>Click continue to whatsapp</span></li>
                                <li>It will take you to your whatsapp and shows an join message already typed in the text box <span>Send that message</span></li>
                                <li>You will receive a success message and you are all set to use our application</li>
                            </ul>
                        </div>
                        
                        <div class="ul-li-img">
                            <img src="{% static 'image/whatsapp.png' %}" alt="">
                        </div>
                    </div>  
                    <div class="text-center py-5 get-w">
                        <a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B14155238886&text=join+meant-usually&type=phone_number&app_absent=0"><button class="rounded-xl px-3 py-4">Get Whatsapp</button></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>